.ReactCard {
  display: flex;
  flex-direction: column;
  height: 300px;
  width: 400px;
  box-sizing: border-box;
  box-shadow: 0 2px 3px 1px #808080a6;
  cursor: default;
}

.Header {
  display: flex;
  position: relative;
  height: 40px;
  font-size: 20px;
  background-color: #2d99e0;
  color: white;
}

.Header > div:first-child {
  flex-grow: 1;
  font-weight: 700;
}

.Header > div:nth-child(2) {
  position: absolute;
  right: 0;
  height: 100%;
  width: 40px;
  color: #655d5d;
  text-shadow: 1px 1px 2px #716969;
}

.SecHeader {
  display: flex;
  flex: 0 0 30px;
  background-color: #5f6567;
}

.SecHeader > section:first-child {
  flex-grow: 1;
  align-items: stretch;
}

.menuCell {
  padding: 0 5px;
  color: white;
}

.SecHeader .hightLight {
  color: black;
  background-color: white;
}

.SecHeader > section:last-child {
  font-weight: 700;
  flex-basis: 50px;
  color: white;
  cursor: pointer;
  border-left: 1px solid white;
}

.Content {
  flex-grow: 1;
  overflow-y: auto;
  padding: 0 7px;
}

.TopTerms {
  padding: 5px 0 5px 10px;
  font-weight: 700;
  color: #b7b9bb;
  text-align: start;
}

.Footer {
  height: 30px;
  font-size: 20px;
  font-weight: 700;
  color: white;
  background-color: #5f6567;
}

.Table {
  font-size: 12px;
}

.Table > .tableHeader {
  border-bottom: 1px solid #00000029;
}

.Table th {
  font-weight: 400;
}

.Table tr > *:first-child {
  width: 85px;
  text-align: left;
}

.Table tr > *:nth-child(3) {
  width: 80px;
  text-align: right;
}

.Table tr > td:first-child {
  font-weight: 700;
}

.Table tr > td:nth-child(2) {
  font-weight: 700;
}

.percentageCell {
  position: relative;
}

.percentageCell > progress {
  height: 20px;
  width: 100%;
  border-radius: 0;
  background-color: #2d99e0;
}

.percentageCell > span {
  position: absolute;
  right: 5px;
}

progress::-webkit-progress-value {
  background: rgb(233, 229, 18);
}

progress::-webkit-progress-bar {
  background-color: #eee;
}
